<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeworkScheduler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5EC0BE31C4498FB0078D895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EC0BF71C4498FC0078D895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EC0C021C4498FC0078D895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
